body{
    /* background: green; */
}

#app{
    width: 100vw;
    overflow: hidden;
    position: relative;
}


#mainNav{
  /* position: fixed; */
  background: red;
  width: 100vw;
}

#menuToggle
{
  display: block;
  position: fixed;
  top: 20px;
  right: 30px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  /* background: red; */
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              /* background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), */
              /* opacity 0.55s ease; */
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
/* #menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
} */

/*
 * But let's hide the middle one.
 */
/* #menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
} */

/*
 * Ohyeah and the last one should go the other direction
 */
/* #menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
} */

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  z-index: 3;
  /* width: 300px; */
  /* background: #ededed; */
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  top: 172px;
  right: 30px;
  text-align: right;
  font-family: 'Noto Sans SC', sans-serif;
}

#menu a{
  list-style: none;
  text-decoration: none;
  color: #000000;
}

#menu li
{
  padding: 20px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
/* #menuToggle input:checked ~ ul
{
  transform: none;
} */

.menuMain{
  position: fixed;
  /* margin-top: -3px; */
  padding-top: 0px;
  width: 100vw;
  height: auto;
}

.menuBack{
  position: absolute;
  top: 0;
  z-index: 2;
}

.logo{
  position: absolute;
  z-index: 2;
  left: 20px;
  top: 35px;
  width: 17%;
}

#triangleWhite{
  left: 0px;
  width: 100%;
  height: 100vh;
  transition: 1s all cubic-bezier(0.77,0.2,0.05,1.0);
}

#triangleBlack{
  left: 0px;
  width: 80%;
  height: 100vh;
  transition: 1s all cubic-bezier(0.77,0.2,0.05,1.0);
}

.caseCon{
  width: 100%;
  height: 100vh;
}

.test1{
  margin: auto;
  margin-top: 150px;
  width: 200px;
  height: 300px;
  background: red;
  /* transition: 1s all cubic-bezier(.85,0,.21,1); */
  opacity: 1;
}
.button1{
  margin: auto;
  margin-top: 30px;
  width: 100px;
  height: 50px;
  background: green;
  transition: 1s all cubic-bezier(.85,0,.21,1);

}



.changePosition{
  /* transform: rotate(-25deg) translate(-50px, -300px);
  -moz-transform: rotate(-25deg) translate(-50px, -300px);
  -webkit-transform: rotate(-25deg) translate(-50px, -300px);
  -o-transform: rotate(-25deg) translate(-50px, -300px); */
  animation: slide 1.5s cubic-bezier(.85,0,.21,1);
  /* opacity: 0; */
}

@keyframes slide {
  from {transform: none; opacity: 1}
  40% {transform: rotate(-25deg) translate(-50px, -300px); opacity: 0}
  60% {transform: rotate(25deg) translate(250px, 300px); opacity: 0}
  to {transform: none; opacity: 1}
}

.changeColor{
  background: pink;
}
